.categoriesContainer {
    display: flex;
}
  
.categoriesList {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 35px 0 0 0;
}
  
.categoriesItem {
    cursor: pointer;
    margin: 0 62px 0 0;
      font-weight: 400;
}
  
.categoriesItem.active {
    font-weight: 700;
}