.SearchPage {
  color: black;
  width: 100%;
}

.SearchPageContainer {
  width: 100%;
  min-height: 100vh;
  margin: 0 15vw;
  margin-top: 67px;
  margin-bottom: 30px;
}

.SearchPage .BookContainer {
  width: 1092px;
  height: 350px;
  margin-bottom: 50px;
  position: relative;
  border-radius: 10px;
  background: var(--naver-text, #fff);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SearchPage .BookImg {
  /* border: 1px solid red; */
  width: 180px;
  height: 272px;
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: auto;
  right: 870px;
}

.SearchPage .BookDescription {
  /* border: 1px solid black; */
  color: black;
  position: relative;
  width: 100%;
  margin: 50px;
  margin-left: 250px;
  margin-top: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart {
  position: absolute;
  right: 0;
  top: 0;
}

.BookTitle {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

.BookDetail {
  margin-top: 5px;
  text-align: start;
}
.BookDetail h6 {
  color: black;
  margin-top: 3px;
}
.BookDetail p {
  color: black;
  margin-top: 3px;
  display: inline-block;
}

.BookIntro {
  position: absolute;
  left: 40%;
  /* top: 1px; */
  color: black;
  display: flex;
  flex-direction: column;
}

/* button {
  background-color: rgb(88, 61, 188);
  color: black;
  border: none;
  padding: 5px;
  border-radius: 10px;
} */

button:disabled {
  background-color: gray;
}
