.Home {
  color: black;
}
.BannerContainer {
  width: 100%;
  height: 496px;
  display: flex;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  background: url("img/next.svg") no-repeat;
}
.swiper-button-prev {
  background: url("img/prev.svg") no-repeat;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.BestContainer,
.RecentContainer {
  border: 1px solid black;
  height: 684px;

  flex: display;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.BestPost,
.RecentPost {
  border: 1px solid blue;
  height: 396px;
}

.BestReview,
.RecentReview,
.WeekUser {
  border: 1px solid yellow;
  height: 173px;
}

.RecommendUser {
  border: 1px solid black;
  height: 351px;
}
