.MyPage{
    color: black;
    width: 100%;
    /* display: flex;
    justify-content: center; */

}

.MyPageContainer{
    margin: 0 15vw;
    /* margin: 0 288px; */
    min-height: 1842px;
}

.Content{
    min-height: 1842px;
}

