.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper {
    width: 100%;
    height: 125px;
    margin: 20px auto;
  }


  .swiper-slide {
    width: 318px;
    height: 124px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1.223px solid #C3C3C3;
    background: #FFF;
  }
  
  .oneLineReview{
    height: 126px;
    padding-right: 10px;
    padding-bottom: 50px;

  }
  .post{
    height: 298px;
  }
  .post .swiper-slide{
    height: 280px;
    
  }

.componentName {
  top: 60px;
  position: relative;
  z-index: -1;
  margin-top: 10px;
  width: 300px;
}

.swiper-wrapper{
  margin-top: 50px;
}


.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px;
  color: #000;
}

.swiper-button-next, .swiper-button-prev {
  background: transparent;
  top: 30px;
  width: auto;
  height: auto;
  transform: none;
  color: #000;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: auto;
  right: 35px;
}

.swiper-button-next::after, .swiper-button-prev::after{

  background: transparent;
  width: auto;
  height: auto;
  transform: none;
  color: #000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 50%;
  z-index: 100;

}