.Carousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Carousel .swiper {
  width: 100%;
  height: 125px;
  margin: 20px auto;
}

.Carousel .swiper-slide {
  width: 318px;
  height: 124px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1.223px solid #c3c3c3;
  background: #fff;
}

.Carousel .oneLineReview {
  height: 126px;
  padding-right: 10px;
  padding-bottom: 50px;
}
.Carousel .post {
  height: 298px;
}
.Carousel .post .swiper-slide {
  height: 280px;
}

.Carousel .componentName {
  top: 60px;
  position: relative;
  z-index: -1;
  margin-top: 10px;
  width: 300px;
}

.Carousel .swiper-wrapper {
  margin-top: 50px;
}

.Carousel .swiper-button-next::after,
.Carousel .swiper-button-prev::after {
  font-size: 20px;
  color: #000;
}

.Carousel .swiper-button-next,
.Carousel .swiper-button-prev {
  background: transparent;
  top: 30px;
  width: auto;
  height: auto;
  transform: none;
  color: #000;
}

.Carousel .swiper-button-next {
  right: 10px;
}

.Carousel .swiper-button-prev {
  left: auto;
  right: 35px;
}

.Carousel .swiper-button-next::after,
.Carousel .swiper-button-prev::after {
  background: transparent;
  width: auto;
  height: auto;
  transform: none;
  color: #000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 50%;
  z-index: 100;
}

.slidecss {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
