.BookDetail {
  color: black;
  width: 100%;
}
.BookDetailContent {
  min-height: 606px;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.BookDetailContent .Book {
  max-width: 42vh;
  max-height: 59.6vh;
  margin:0 49px 0 0;
  background-color: gray;
}

.BookDetail .BookImgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.DetailBookImg {
  width: auto;
  height: 100%;
}
.detail {
  display: flex;
  flex-direction: column;
  color: white;
}

.BookDetail .detail .bookTitle{
  margin: 75.07px 0 0 0;
  color: var(--naver-text, #FFF);
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 22.792px; 56.98% */
  width: 658px;
}

.detail h3 h4 h5 h6 {
  color: white;
  margin: 10px;
}

.BookDetail .detailContent{
  margin-top: 32.28px;
}

.detailContent h6 {
  color: white;
  margin: 10px;
  color: var(--naver-text, #FFF);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.792px; /* 162.8% */
  letter-spacing: -0.28px;
}

.detail .WritingButton {
  width: 140px;
  height: 50px;
  flex-shrink: 0;
  background: #f1f1f1;
  color: black;
  border-radius: 20px;
  border: 1px solid #B8B8B8;
  background: #F1F1F1;
  color: #3C3C3C;
  font-family: Pretendard;
  font-size: 20px;
  color: #3C3C3C;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 40px;
}
.reviewContainer {
  height: 823px;
  margin: 0 28.8vh;
  /*border: 1px solid black;*/
}
.reviewContainer h3 {
  margin: 55px 0 0 0;
}
.oneLineReviewContainer {
  height: 166px;
  margin-top: 40.36px;
  margin: 0;
}

.oneLineReviewContainer h4 {
  margin-top: 40.36px;
  margin-bottom: 17.03px;
  color: black;
}

.postContainer h4 {
  margin-top: 54.18px;
  color: black;
}

.BookDetail .detailContent h6{
  color: var(--naver-text, #FFF);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.792px; /* 162.8% */
  letter-spacing: -0.28px;
  margin-top: 7.6px;
  white-space: pre;
}

.BookDetail .bookIntroduction h6{
  color: var(--naver-text, #FFF);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.792px; /* 126.622% */
  letter-spacing: -0.36px;
  margin-top: 62.8px;
}

.bookIntroduction .BookDescription{
  width: 658px;
  color: var(--naver-text, #FFF);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
  letter-spacing: -0.28px;

}
