.BookDetail {
    color: black;
    width: 100%;
  }
.BookDetailContent{
    height: 70.2vh;
    background: rgba(0, 0, 0, 0.80);

}
.reviewContainer{
    height: 823px;
    margin: 0 30vh;
    border: 1px solid black;
    
}
.oneLineReview{
    height: 283px;
}