.BookDetail {
    color: black;
    width: 100%;
  }
.BookDetailContent{
    height: 70.2vh;
    background: rgba(0, 0, 0, 0.80);

}
.reviewContainer{
    height: 823px;
    margin: 0 30vh;
    border: 1px solid black;
    
}
.reviewContainer h3{
    margin: 55px 0 0 0;
}
.oneLineReviewContainer{
    height: 166px;
    margin-top: 40.36px;
    margin: 0;
}

.oneLineReviewContainer h4{
    margin-top: 40.36px;
    margin-bottom: 17.03px;
}

.postContainer h4{
    margin-top: 54.18px;
}