.Writing {
    color: black;
    width: 100%;
}

.WritingContainer{
    margin: 0 15vw;

}

.SelectedBookContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 455px;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 144px;
}

.DeleteButton{
  margin-left: auto;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.Dropdown{
    width: 154px;
    height: 52px;
    margin-top: 81px;
    border-radius: 18px;
    border: 1px solid #2F1DFF;
    background: #FFF;
}

.OneLineTextArea {
  width: 100%;
  height: 176px;
  margin-top: 44px;

}

.placeholder {
  color: #999;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.ButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 33px;
    margin-bottom: 100px;
}

  .Registration{
    font-size: 24px;
    color: #666666;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    margin-left: 40px;
    background-color: transparent;
    border: transparent;

}

.PostTitle{
  width: 100%;
  height: 68px;
  margin-top: 64px;
  resize: none;
  border-radius: 30px;
  background: #F8F8F8;
  border: none;
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.PostContent{
    width: 100%;
    height: 540px;
    margin-top: 20px;
}

.OneLineTextArea, .PostContent, .TemplatePost, .TemplatePostEtc{
  resize: none;
  border-radius: 30px;
  background: #F8F8F8;
  border: none;
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 40px 0 0 50px;
  width: 100%;
  box-sizing: border-box;
}

.PostTitle{
  box-sizing: border-box;
  padding: 20px 0 0 50px;
}

h1{
  color: #666;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: -0.4px;
  margin: 80px 0 20px 0;
}

.TemplatePost{
  height: 270px;

}

.TemplatePostEtc{
  height: 540px;
}

.PostWriting button,.TemplatePostWriting button{
  margin-top: 18px;
}

.book{
  width: 235px;
  height: 355px;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  margin: 50px 0 0 50px;
}

.BookTitle{
  margin: 50px 0 0 57px;
  color: #333;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Template{
  display: flex;
  flex-direction: row;
  align-items: end;
}

.TemplateButton{
  border: none;
  background-color: #FFF;
  margin-left: 10px;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.TemplateButton:hover {
  text-decoration: underline;
}

.TempalteIcon{
  margin-right: 2px;
}

.TemplateText{
  color: #848484;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0;

}

.TemplateButtonText{
  color: #4141FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  text-align: center;

}