.Writing {
    color: black;
    width: 100%;
    min-height: 150vh;
}

.WritingContainer{
    margin: 0 12vw;
    min-height: 100vh;
    

}

.BookSearchContainer{
  position: relative;
  margin: 0 26.5vw;
  margin-top: 59.66px;
  width: 46.8vw;
  height: 54px;
  border-radius: 24px;
  border: 2px solid #2F1DFF;
  background: var(--naver-text, #FFF);
  display: flex;
  align-items: center;
}

.BookSearchIcon{
  position: absolute;
  top: 8px;
  left: 18px;
  
}


.BookSearchBar{
  margin-left: 70px;
  box-sizing: border-box;
  color: #2626BF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border: none;
  width: 86%;
}

.BookSearchBar::placeholder{
  color: #2626BF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.BookSearchBar:focus {
  outline: none;
}


.SelectedBookContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 455px; */
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 144px;
  flex-direction: row;
  margin-bottom: 50px;
}

.Writing .DeleteButton{
  margin-left: auto;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.Dropdown{
    width: 154px;
    height: 52px;
    margin-top: 81px;
    border-radius: 18px;
    border: 1px solid #2F1DFF;
    background: #FFF;
}

.OneLineTextArea {
  width: 100%;
  height: 176px;
  margin-top: 44px;

}

.notSelectedBook{
  width: 100%;
  height: 176px;
  margin-top: 44px;

}

.placeholder {
  color: #999;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.Writing .ButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 33px;
    margin-bottom: 100px;
}

  .Registration{
    font-size: 24px;
    color: #666666;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    margin-left: 40px;
    background-color: transparent;
    border: transparent;

}

.Writing .PostTitle{
  width: 100%;
  padding: 20px 70px 20px 50px;
  height: 68px;
  resize: none;
  border-radius: 30px;
  background: #F8F8F8;
  border: none;
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  box-sizing: border-box;
  outline-color: #9C93FF;
  border: 2px solid none;
}


.Writing .PostContainer{
  width: 100%;
  height: 540px;
}

.Writing .PostContent{
    margin-top: 20px;
    width: 100%;
    height: 540px;
}

 .OneLineTextArea, .Writing .PostContent, .Writing .TemplatePost, .Writing .TemplatePostEtc{
  resize: none;
  border-radius: 30px;
  background: #F8F8F8;
  border: none;
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding: 40px 40px 40px 50px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid transparent; 
  outline-color: #9C93FF;
}

.Writing .ReviewCount{
  right: 40px;
  bottom: 64px;
  margin: 0;
  position: relative;
  color: #999;
  text-align: right;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

.Writing .notSelectedBook{
  resize: none;
  border-radius: 30px;
  background: #F8F8F8;
  border: none;
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  /* padding: 40px 0 0 50px; */
  width: 100%;
  border: none;
  outline: none;
  line-height: 176px;

}

.Writing .notSelectedBook::placeholder {
  text-align: center; /* 플레이스홀더 텍스트를 가운데 정렬 */
  vertical-align: middle; /* 수직 가운데 정렬 */
  line-height: inherit; /* 수직 가운데 정렬을 위해 상속된 라인 높이 설정 */
}

/* .OneLineTextArea:focus,
.PostContent:focus,
.TemplatePost:focus,
.TemplatePostEtc:focus,
.PostTitle:focus {
  outline: none;
  border: 3px solid #9C93FF;
} */

.Writing .PostTitle{
  box-sizing: border-box;
  padding: 20px 0 0 50px;
}

.Writing h1{
  color: #666;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: -0.4px;
  margin: 60px 0 20px 0;
}

.Writing .TemplatePost{
  height: 270px;

}

.Writing .TemplatePostEtc{
  height: 540px;
}

/* .PostWriting button,.TemplatePostWriting button{
  margin-top: 18px;
} */

.SelectedBookContainer .BookImg{
  max-width: 245px;
  height: 355px;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  /* margin: 50px 50px 0 50px; */
  margin: 50px;
}

.Writing .BookTitle{
  margin: 50px 0 23px 57px;
  color: #333;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Writing .BookDetailContainer{
  display: flex;
  flex-direction: row;
}

.AuthorBookDetailInfo{
  margin: 0 0 7.6px 61.06px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
  display: block;
}

.BookDetailInfo{
  margin: 0 0 7.6px 61.06px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.Pub{
  margin-right: 20px;
  margin: 0 0 7.6px 61.06px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}



.BookDetailData{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 0 20px;

}

.BookIntroduction{
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin: 32px 0 10px 61.06px;
}

.AuthorBookDetailData{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 10px 34.94px;

}

.BookIntroData{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 0 61.06px;
}

.Template{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TemplateButton{
  border: none;
  background-color: #FFF;
  margin-left: 10px;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  
}

.TemplateButton:hover {
  text-decoration: underline;
}

.TempalteIcon{
  margin-right: 2px;
}

.TemplateText{
  color: #848484;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 18px 0;

}

.TemplateButtonText{
  color: #4141FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  text-align: center;

}

.Writing .PostTitleContainer {
  position: relative;
}


.ClearButton {
  position: absolute;
  top: 83px; 
  right: 50px; 
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  color: #666;
}

/* textarea {
	border: 2px solid rgb(213, 194, 194);

        outline-color: #9C93FF;
} */

.NotBookRegistration{
  margin: 50px 0 228px 0;
  width: 100%;
}
